
<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Clipboard Confusion</title><script type="text/javascript">
function form_setfocus() {document.myform.newtext.focus();}
/*
** form_setfocus() works with:
**   * GNU IceCat 31.6.0
** and fails with:
**   * Firefox 16.0.1
*/

function init() {

    form_setfocus();

    document.addEventListener('keydown', (event) => {
        if(event.ctrlKey && event.key == "Enter") {
            //document.forms[0].submit();
            document.myform.submit();
        }
    });
    /*
    ** ctrl-enter works with:
    **   * GNU IceCat 31.6.0
    ** and fails with:
    **   * Chromium  12.0.742.112
    **   * Firefox 3.6.18, 16.0.1
    **   * Konqueror 4.5.5 (KDE 4.5.5)
    */

}

    function fallbackCopyTextToClipboard(text) {
        var textArea = document.createElement("textarea");
        textArea.value = text;

        // Avoid scrolling to bottom
        textArea.style.top = "0";
        textArea.style.left = "0";
        textArea.style.position = "fixed";

        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();

        try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            console.log('Fallback: Copying text command was ' + msg);
        } catch (err) {
            console.error('Fallback: Oops, unable to copy', err);
        }

        document.body.removeChild(textArea);
    }
    function copyTextToClipboard(text) {
        if (!navigator.clipboard) {
            fallbackCopyTextToClipboard(text);
            return;
        }
        navigator.clipboard.writeText(text).then(function() {
            console.log('Async: Copying to clipboard was successful!');
        }, function(err) {
            console.error('Async: Could not copy text: ', err);
        });
    }

window.onload=init; /* <body onload="init()"> */
</script>
    
<script src="./qrcode.min.js"></script>
<script>
    // Show the QR-Code of a "value" attribute (when the QR-Code icon is clicked).
    /*
        Where the parent node of the caller will have the qr code appended too - TODO consider using node directly?
        value is used as string value to generate qrcode, if missing use parent with .value, or parent with .innerText
        if parent_node is passed in, use that as place to put qrcode, else parent of caller
    */
    function showQrCode(caller, value, parent_node)
    {
        parent_node = parent_node || caller.parentNode;
        // Remove previous qrcode if present.
        removeQrcode();

        // Build the div which contains the QR-Code:
        var element = document.createElement('div');
        element.id = 'permalinkQrcode';

        // Make QR-Code div commit sepuku when clicked:
        if ( element.attachEvent ){
            element.attachEvent('onclick', 'this.parentNode.removeChild(this);' );

        } else {
            // Damn IE
            element.setAttribute('onclick', 'this.parentNode.removeChild(this);' );
        }

        element.innerHTML += "<br>Click to close";
        parent_node.appendChild(element);
        new QRCode(document.getElementById(element.id), value || caller.value || caller.innerText);
        qrcodeImage = document.getElementById(element.id);
        // make sure QR code is actually shown - Workaround to deal with newly created element lag for transition.
        window.getComputedStyle(qrcodeImage).opacity;
        qrcodeImage.className = 'show';
        return false;
    }

    // Remove any displayed QR-Code
    function removeQrcode()
    {
        var elem = document.getElementById('permalinkQrcode');
        if (elem) {
            elem.parentNode.removeChild(elem);
        }
        return false;
    }

    function base64ToArrayBuffer(base64) {
        var binaryString = atob(base64);
        console.log('base64ToArrayBuffer binaryString:' + binaryString);
        console.log('base64ToArrayBuffer binaryString[0]:' + binaryString[0]);
        console.log('base64ToArrayBuffer binaryString[1]:' + binaryString[1]);
        var bytes = new Uint8Array(binaryString.length);
        for (var i = 0; i < binaryString.length; i++) {
            bytes[i] = binaryString.charCodeAt(i);
        }
        //return bytes.buffer;
        return bytes;
    }
    // https://developer.chrome.com/blog/how-to-convert-arraybuffer-to-and-from-string
    function ab2str(buf) {
        return String.fromCharCode.apply(null, new Uint8Array(buf));
    }

    const MAGIC_SALTED = "Salted__";

    async function decrypt(caller, password)
    {
        // little to no error checking/handling, and no UI notification of failure (or even success)
        var password_str = password.value;  // get from password form (pform) - TODO support for non-7-bit values
        var crypted_text = caller.value;
        console.log('encrypt password:' + password.value);
        console.log('decrypt crypted_text:' + crypted_text);
        // TODO support KeepOut .kpt header - see https://github.com/clach04/openssl_enc_compat/issues/2
        /*
            echo hello| "C:\Program Files\Git\mingw64in\openssl.exe" aes-256-cbc -e -salt -pbkdf2 -iter 10000 -in - -a -out - -pass pass:password
            U2FsdGVkX18NXhFhTlAyvM2jXPu+hhsT344TvO0yLYk=
        */
        console.log('decrypt crypted_text:' + crypted_text);
        var crypted_bytes = base64ToArrayBuffer(crypted_text);
        console.log('decrypt crypted_bytes:' + crypted_bytes);
        console.log('decrypt crypted_bytes.length:' + crypted_bytes.length);
        console.log('decrypt crypted_bytes[0]:' + crypted_bytes[0]);
        console.log('decrypt crypted_bytes[1]:' + crypted_bytes[1]);
        var raw_binary_prefix = ab2str(crypted_bytes.subarray(0, MAGIC_SALTED.length));
        if (! raw_binary_prefix.startsWith(MAGIC_SALTED))
        {
            // doesn't look like an OpenSSL (salted) encrypted payload
            // Could have checked base64 string first but this is a more robust check
            return;
        }

        var openssl_pbkdf2_iterations = 10000;  // TODO pickup from on screen field
        var password_bytes = new TextEncoder("utf-8").encode(password_str);
        var openssl_pbkdf2_salt = crypted_bytes.slice(8, 16);

        var passphrasekey_cryptokey = await crypto.subtle.importKey('raw', password_bytes, {name: 'PBKDF2'}, false, ['deriveBits']);  // CryptoKey
        var derived_key_plus_iv_bytes = await crypto.subtle.deriveBits({"name": 'PBKDF2', "salt": openssl_pbkdf2_salt, "iterations": openssl_pbkdf2_iterations, "hash": 'SHA-256'}, passphrasekey_cryptokey, 384); // Generate 48-bytes (384-bits) key+IV into an ArrayBuffer
        derived_key_plus_iv_bytes = new Uint8Array(derived_key_plus_iv_bytes);  // ArrayBuffer to Uint8Array
        console.log('decrypt derived_key_plus_iv_bytes:' + derived_key_plus_iv_bytes);
        console.log('decrypt derived_key_plus_iv_bytes.length:' + derived_key_plus_iv_bytes.length);
        console.log('decrypt derived_key_plus_iv_bytes[0]:' + derived_key_plus_iv_bytes[0]);
        console.log('decrypt derived_key_plus_iv_bytes[1]:' + derived_key_plus_iv_bytes[1]);

        var key_bytes = derived_key_plus_iv_bytes.slice(0,32);  // Uint8Array -- 32-bytes (256-bits) for key
        console.log('decrypt key_bytes:' + key_bytes);
        console.log('decrypt key_bytes.length:' + key_bytes.length);
        console.log('decrypt key_bytes[0]:' + key_bytes[0]);
        console.log('decrypt key_bytes[1]:' + key_bytes[1]);
        var iv_bytes = derived_key_plus_iv_bytes.slice(32);  // Uint8Array -- 16-bytes (128-bits) for IV
        console.log('decrypt iv_bytes:' + iv_bytes);
        console.log('decrypt iv_bytes.length:' + iv_bytes.length);
        console.log('decrypt iv_bytes[0]:' + iv_bytes[0]);
        console.log('decrypt iv_bytes[1]:' + iv_bytes[1]);
        var cipherbytes = crypted_bytes.slice(16);
        console.log('decrypt cipherbytes:' + cipherbytes);
        console.log('decrypt cipherbytes[0]:' + cipherbytes[0]);


        var key = await crypto.subtle.importKey('raw', key_bytes, {name: 'AES-CBC', length: 256}, false, ['decrypt']);  // CryptoKey
        console.log('decrypt key:' + key);
        var plaintextbytes = await crypto.subtle.decrypt({name: "AES-CBC", iv: iv_bytes}, key, cipherbytes);  // ArrayBuffer
        console.log('decrypt plaintextbytes:' + plaintextbytes);
        /*
        // Debug for potential further manipulation
        plaintextbytes = new Uint8Array(plaintextbytes);  // ArrayBuffer to Uint8Array
        console.log('decrypt plaintextbytes:' + plaintextbytes);
        console.log('decrypt plaintextbytes.length:' + plaintextbytes.length);
        console.log('decrypt plaintextbytes[0]:' + plaintextbytes[0]);
        console.log('decrypt plaintextbytes[1]:' + plaintextbytes[1]);
        */

        caller.value = ab2str(plaintextbytes);
    }

    function rot13(s)  // just so we have something for testing
    {
      return s.replace( /[A-Za-z]/g , function(c) { return String.fromCharCode( c.charCodeAt(0) + ( c.toUpperCase() <= "M" ? 13 : -13 ) ); } );
    }
    function encrypt(caller, password)
    {
        var plain_text = caller.value;
        console.log('encrypt password:' + password.value);
        console.log('encrypt plain_text:' + plain_text);
        //caller.value = 'pants';
        caller.value = rot13(caller.value);  // FIXME TODO implement
    }
</script>
</head><body><noscript>
<div id="noscript" class="noscript" style="color: black; background-color: #ffe633 ; text-align: center; border: double yellow;">
<p>
This page partially works when JavaScript is disabled.
Here are the <a href="https://www.enable-javascript.com/">
instructions how to enable JavaScript in your web browser</a>
(or check <a href="https://noscript.net/">NoScript browser plugin</a>).
</p>
</div>
</noscript>
<button class="js-copy-to-clipboard" id="js-copy-to-clipboard">Copy Text Entry Field to (browser) clipboard</button> <a href="/download">Download</a><br /><div><div class="qrcode_window" id="qrcode_window" name="qrcode_window"></div></div>
        <a href="#" onclick="showQrCode(newtext, null, qrcode_window); return false;" class="qrcode">
            <img src="./QR_icon.svg" class="linklist-plugin-icon" title="Show QRCode for Text Entry Field" alt="data form QR-Code">
            <!-- qricon.png is converted from https://commons.wikimedia.org/wiki/File:QR_icon.svg -->
        </a>
    
        <a href="#" onclick="showQrCode(clipboard_contents, null, qrcode_window); return false;" class="qrcode">
            <img src="./QR_icon.svg" class="linklist-plugin-icon" title="Show QRCode for clipboard_contents" alt="data QR-Code">
            <!-- qricon.png is converted from https://commons.wikimedia.org/wiki/File:QR_icon.svg -->
        </a>
    
        <a href="#" onclick="showQrCode(qrcode_window, window.location.href); return false;" class="qrcode">
            <img src="./QR_icon.svg" class="linklist-plugin-icon" title="Show QRCode for URL" alt="URL QR-Code">
            <!-- qricon.png is converted from https://commons.wikimedia.org/wiki/File:QR_icon.svg -->
        </a>
    <br /><b>Native clipboard support missing</b>, install xerox (or Android support lib), using non-persistent/temporary memory.
        <br />
    
        <!-- TODO hide form unless clicked -->
        <!-- NOTE https://developer.mozilla.org/en-US/docs/Web/API/Web_Crypto_API only works for http with localhost (and file://), requires https otherwise -->
        <form accept-charset="utf-8" action="#" method="#" id="pform" name="pform">
            <label for="p">p:</label><input type="text" id="p" name="p" />
            <input type="submit" value="FIXME"/>
            <a href="#" onclick="encrypt(newtext, p); return false;" class="encrypt">
                Encrypt Entry Field Contents
            </a> <!-- TODO button  -->
            <a href="#" onclick="decrypt(newtext, p); return false;" class="decrypt">
                Decrypt Entry Field Contents
            </a> <!-- TODO button  -->
            <!-- TODO button to download decrypted file using textfield as encrypte source -->
        </form>
        <br />
    
    <form accept-charset="utf-8" action="setclipboard" method="POST" id="myform" name="myform">
        <label for="newtext">Current clipboard contents:</label>{{character_count_str}}
        <br />
        <!-- TODO There is way to get textarea to be 100 percent via CSS and/or javascript, however most browsers allow manual resizing of text area. See http://stackoverflow.com/questions/271067/how-can-i-make-a-textarea-100-width-without-overflowing-when-padding-is-present (using a textwrapper div) -->
        <textarea id="newtext" name="newtext" accept-charset="utf-8" style="width:100%;height:50%">{{clipboard_contents}}</textarea>
        <br />
        <input type="submit" value="Update"/>
        <a href="/download">Download</a>  <!-- TODO styled (bootstrap?) button -->
    </form>
    {{character_count_str}}<hr>
    <pre><code id="clipboard_contents">{{clipboard_contents}}</code>
    </pre>
    <hr>    <a href="https://github.com/clach04/clipboard-confusion/">
    Clipboard Confusion - a single file, in-memory pastebin
    </a>
    
    <script>

    //var copyClipBtn = document.querySelector('button.js-copy-to-clipboard');
    var copyClipBtn = document.getElementById("js-copy-to-clipboard");

    copyClipBtn.addEventListener('click', function(event) {
        /*
        ** Works/Tested with:
        **    * Chromium 79.0.3945.79
        **    * FireFox 46.0, 86.0
        **
        ** Fails with:
        **    * Chromium  12.0.742.112 (Developer Build 90304) Ubuntu 10.10 -  WebKit  534.30 (trunk@84325)
        **    * Firefox 3.6.18, 16.0.1
        **    * GNU IceCat 31.6.0 (Developer Build 144678) Built on  Lubuntu 12.04
        **    * Konqueror 4.5.5 (KDE 4.5.5)
        */
        var text_entry_field = document.getElementById("newtext");

        text_entry_field.select();
        text_entry_field.setSelectionRange(0, 99999); /* For mobile devices */
        copyTextToClipboard(text_entry_field.value);
    });
    </script>
    </body></html>
