
<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Clipboard Confusion</title><script type="text/javascript">
function form_setfocus() {document.myform.newtext.focus();}
/*
** form_setfocus() works with:
**   * GNU IceCat 31.6.0
** and fails with:
**   * Firefox 16.0.1
*/

function init() {

    form_setfocus();

    document.addEventListener('keydown', (event) => {
        if(event.ctrlKey && event.key == "Enter") {
            //document.forms[0].submit();
            document.myform.submit();
        }
    });
    /*
    ** ctrl-enter works with:
    **   * GNU IceCat 31.6.0
    ** and fails with:
    **   * Chromium  12.0.742.112
    **   * Firefox 3.6.18, 16.0.1
    **   * Konqueror 4.5.5 (KDE 4.5.5)
    */

}

    function fallbackCopyTextToClipboard(text) {
        var textArea = document.createElement("textarea");
        textArea.value = text;

        // Avoid scrolling to bottom
        textArea.style.top = "0";
        textArea.style.left = "0";
        textArea.style.position = "fixed";

        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();

        try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            console.log('Fallback: Copying text command was ' + msg);
        } catch (err) {
            console.error('Fallback: Oops, unable to copy', err);
        }

        document.body.removeChild(textArea);
    }
    function copyTextToClipboard(text) {
        if (!navigator.clipboard) {
            fallbackCopyTextToClipboard(text);
            return;
        }
        navigator.clipboard.writeText(text).then(function() {
            console.log('Async: Copying to clipboard was successful!');
        }, function(err) {
            console.error('Async: Could not copy text: ', err);
        });
    }

window.onload=init; /* <body onload="init()"> */
</script>
    
<script src="./qrcode.min.js"></script>
<script>
    // Show the QR-Code of a "value" attribute (when the QR-Code icon is clicked).
    /*
        Where the parent node of the caller will have the qr code appended too - TODO consider using node directly?
        value is used as string value to generate qrcode, if missing use parent with .value, or parent with .innerText
        if parent_node is passed in, use that as place to put qrcode, else parent of caller
    */
    function showQrCode(caller, value, parent_node)
    {
        parent_node = parent_node || caller.parentNode;
        // Remove previous qrcode if present.
        removeQrcode();

        // Build the div which contains the QR-Code:
        var element = document.createElement('div');
        element.id = 'permalinkQrcode';

        // Make QR-Code div commit sepuku when clicked:
        if ( element.attachEvent ){
            element.attachEvent('onclick', 'this.parentNode.removeChild(this);' );

        } else {
            // Damn IE
            element.setAttribute('onclick', 'this.parentNode.removeChild(this);' );
        }

        element.innerHTML += "<br>Click to close";
        parent_node.appendChild(element);
        new QRCode(document.getElementById(element.id), value || caller.value || caller.innerText);
        qrcodeImage = document.getElementById(element.id);
        // make sure QR code is actually shown - Workaround to deal with newly created element lag for transition.
        window.getComputedStyle(qrcodeImage).opacity;
        qrcodeImage.className = 'show';
        return false;
    }

    // Remove any displayed QR-Code
    function removeQrcode()
    {
        var elem = document.getElementById('permalinkQrcode');
        if (elem) {
            elem.parentNode.removeChild(elem);
        }
        return false;
    }
</script>
</head><body><noscript>
<div id="noscript" class="noscript" style="color: black; background-color: #ffe633 ; text-align: center; border: double yellow;">
<p>
This page partially works when JavaScript is disabled.
Here are the <a href="https://www.enable-javascript.com/">
instructions how to enable JavaScript in your web browser</a>
(or check <a href="https://noscript.net/">NoScript browser plugin</a>).
</p>
</div>
</noscript>
<button class="js-copy-to-clipboard" id="js-copy-to-clipboard">Copy Text Entry Field to (browser) clipboard</button> <a href="/download">Download</a><br /><div><div class="qrcode_window" id="qrcode_window" name="qrcode_window"></div></div>
        <a href="#" onclick="showQrCode(newtext, null, qrcode_window); return false;" class="qrcode">
            <img src="./QR_icon.svg" class="linklist-plugin-icon" title="Show QRCode for Text Entry Field" alt="data form QR-Code">
            <!-- qricon.png is converted from https://commons.wikimedia.org/wiki/File:QR_icon.svg -->
        </a>
    
        <a href="#" onclick="showQrCode(clipboard_contents, null, qrcode_window); return false;" class="qrcode">
            <img src="./QR_icon.svg" class="linklist-plugin-icon" title="Show QRCode for clipboard_contents" alt="data QR-Code">
            <!-- qricon.png is converted from https://commons.wikimedia.org/wiki/File:QR_icon.svg -->
        </a>
    
        <a href="#" onclick="showQrCode(qrcode_window, window.location.href); return false;" class="qrcode">
            <img src="./QR_icon.svg" class="linklist-plugin-icon" title="Show QRCode for URL" alt="URL QR-Code">
            <!-- qricon.png is converted from https://commons.wikimedia.org/wiki/File:QR_icon.svg -->
        </a>

    {{{clipboard_missing_warning}}}

    <form accept-charset="utf-8" action="setclipboard" method="POST" id="myform" name="myform">
        <label for="newtext">Current clipboard contents:</label>{{character_count_str}}
        <br />
        <!-- TODO There is way to get textarea to be 100 percent via CSS and/or javascript, however most browsers allow manual resizing of text area. See http://stackoverflow.com/questions/271067/how-can-i-make-a-textarea-100-width-without-overflowing-when-padding-is-present (using a textwrapper div) -->
        <textarea id="newtext" name="newtext" accept-charset="utf-8" style="width:100%;height:50%">{{clipboard_contents}}</textarea>
        <br />
        <input type="submit" value="Update"/>
        <a href="/download">Download</a>
    </form>
    {{character_count_str}}<hr>
    <pre><code id="clipboard_contents">{{clipboard_contents}}</code>
    </pre>
    <hr>    <a href="https://github.com/clach04/clipboard-confusion/">
    Clipboard Confusion - a single file, in-memory pastebin
    </a>
    
    <script>

    //var copyClipBtn = document.querySelector('button.js-copy-to-clipboard');
    var copyClipBtn = document.getElementById("js-copy-to-clipboard");

    copyClipBtn.addEventListener('click', function(event) {
        /*
        ** Works/Tested with:
        **    * Chromium 79.0.3945.79
        **    * FireFox 46.0, 86.0
        **
        ** Fails with:
        **    * Chromium  12.0.742.112 (Developer Build 90304) Ubuntu 10.10 -  WebKit  534.30 (trunk@84325)
        **    * Firefox 3.6.18, 16.0.1
        **    * GNU IceCat 31.6.0 (Developer Build 144678) Built on  Lubuntu 12.04
        **    * Konqueror 4.5.5 (KDE 4.5.5)
        */
        var text_entry_field = document.getElementById("newtext");

        text_entry_field.select();
        text_entry_field.setSelectionRange(0, 99999); /* For mobile devices */
        copyTextToClipboard(text_entry_field.value);
    });
    </script>
    </body></html>
